.flex-container {
  padding: 10px;
  
  display: flex;
  flex-direction: column;
}
#map {
  width: 100%;
  height: 200px;
 	background-color: grey;
}
.block {
  margin: 10px;
}

.big-block {
  margin: 10px;
}